// ===========================================
// stylelint
// ===========================================
//stylelint-disable selector-no-qualifying-type
//stylelint-disable block-no-empty

/*! minireset.css v0.0.3 | MIT License | https://github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

// origin reset
// ===========================================
body {
  text-size-adjust: 100%;
}

video {
  object-fit: cover;
}

// ===========================================
// form reset https://gist.github.com/anthonyshort/552543
// ===========================================
input,
label,
select,
button,
textarea {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  /* Browsers have different default form fonts */
  font-size: 100%;
  line-height: 1;
  color: inherit;
  white-space: normal;
  vertical-align: middle;
  background: none;
  border: 0;
  outline: 0;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  // outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */

// input,
// textarea {
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
// }

/* These elements are usually rendered a certain way by the browser */

// button,
// input[type='reset'],
// input[type='button'],
// input[type='submit'],
// input[type='checkbox'],
// input[type='radio'],
// select {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

/* Text Inputs
-----------------------------------------------*/

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
}

/* Button Controls
-----------------------------------------------*/

input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/

input[type="file"] {
}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */

::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  width: auto;
  /* Fix IE7 display bug */
  overflow: visible;
}

/* IE8 and FF freak out if this rule is within another selector */

::-webkit-file-upload-button {
  padding: 0;
  background: none;
  border: 0;
}

/* Textarea
-----------------------------------------------*/

textarea {
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
  /* Move the label to the top */
  vertical-align: top;
}

/* Selects
-----------------------------------------------*/

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}
