/* stylelint-disable selector-no-qualifying-type */
br.br-visible-md {
  display: inline;
}

br.br-visible-sm {
  display: none;
}

br.br-visible-xs {
  display: none;
}

@include lt-sm {
  br.br-visible-md {
    display: none;
  }

  br.br-visible-sm {
    display: inline;
  }

  br.br-visible-xs {
    display: none;
  }
}

@include lt-xs {
  br.br-visible-md {
    display: none;
  }

  br.br-visible-sm {
    display: none;
  }

  br.br-visible-xs {
    display: inline;
  }
}
