.WordPressPost-EyecatchBox-enter-active,
.WordPressPost-EyecatchBox-leave-active {
  transition: $tst-heavy;
}

.WordPressPost-EyecatchBox-enter,
.WordPressPost-EyecatchBox-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
