$box-shadow-default: 0 2px 7px rgba(68, 68, 68, 0.5);
$box-shadow-default-hover: 0 2px 9px rgba(68, 68, 68, 0.7);

$box-shadow-light: 0 2px 7px rgba(68, 68, 68, 0.3);
$box-shadow-light-hover: 0 2px 9px rgba(68, 68, 68, 0.5);

$box-shadow-heavy: 0 2px 7px rgba(68, 68, 68, 0.5);
$box-shadow-heavy-hover: 0 2px 9px rgba(68, 68, 68, 0.7);
